*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/*  body{
   overflow-y:hidden;   
} */

.App{
  
  margin: 50px;
  max-height: 800px;
}

label{
  margin-left: 10px;
}

.task-list-item{
  margin: 10px; 
}
.total-section{
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.5rem;
  margin-left: 5px;
}
.container-wellcome{
  margin: 50px;
}

.form-control{
  margin-bottom: 20px;
}

.container-list{
  max-height: 600px;
}
