*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  margin: 50px;
}

label{
  margin-left: 10px;
}

.task-list-item{
  margin: 10px; 
}
.total-section{
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.5rem;
  margin-left: 5px;
}
.container-wellcome{
  margin: 50px;
}
